<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" beStrictAboutTestsThatDoNotTestAnything="false" bootstrap="vendor/autoload.php" colors="true" processIsolation="false" stopOnError="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
	<coverage/>
	<testsuites>
		<testsuite name="Petfinder PHP SDK Test Suite">
			<directory suffix="Test.php">./tests</directory>
		</testsuite>
	</testsuites>
	<php>
		<env name="PETFINDER_API_KEY" value="QmVzXtelnDGbKDILDcgX8RGwGnVFwYVidna7qiefFpLKZFIEy9" />
		<env name="PETFINDER_API_SECRET" value="NFjeSP2T7TDesKQE3SWdwqzdjUbHeqFGaTDqE8He" />
		<env name="PETFINDER_API_URL" value="https://api.petfinder.com/v2" />
	</php>
	<source>
		<include>
			<directory suffix=".php">./src</directory>
		</include>
	</source>
</phpunit>
